schemas/backup/article_v3.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="qualified"
           elementFormDefault="qualified"
           targetNamespace="http://www.alexanderwolz.de/model/articles"
           xmlns:authors="http://www.alexanderwolz.de/model/authors"
           xmlns:roles="http://www.alexanderwolz.de/model/roles"
           xmlns:articles="http://www.alexanderwolz.de/model/articles"
           xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:include schemaLocation="status_v1.xsd"/>
    <xs:import namespace="http://www.alexanderwolz.de/model/authors" schemaLocation="author_v2.xsd"/>
    <xs:import namespace="http://www.alexanderwolz.de/model/roles" schemaLocation="role_v6.xsd"/>
    <xs:complexType name="article">
        <xs:annotation>
            <xs:documentation>
                Sample Documentation
            </xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="id" type="xs:string"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" ref="authors:author"/>
            <xs:element name="requiredRole" type="roles:role"/>
            <xs:element name="publicationStatus" type="articles:status"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="articleList">
        <xs:sequence>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="element" type="articles:article"/>
        </xs:sequence>
        <xs:attribute name="name" type="xs:string" use="required"/>
        <xs:attribute name="category" type="articles:category" use="required"/>
    </xs:complexType>
    <xs:simpleType name="category">
        <xs:restriction base="xs:string">
            <xs:enumeration value="COMMON"/>
            <xs:enumeration value="DEVELOPMENT"/>
            <xs:enumeration value="OPERATIONS"/>
        </xs:restriction>
    </xs:simpleType>
</xs:schema>
