schemas/author_v2.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns="http://www.alexanderwolz.de/model/authors"
           elementFormDefault="qualified"
           attributeFormDefault="qualified"
           targetNamespace="http://www.alexanderwolz.de/model/authors">
    <xs:element name="author">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="id" type="xs:string"/>
                <xs:element name="firstname" type="xs:string"/>
                <xs:element name="lastname" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>